h2{
    color:#A80000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.clear{
color: #333;
background-color: #eee ;
margin-bottom: 12px;
font-weight: 1rem;
font-size: 1rem;
border-radius:4px ;}


.clear:hover{
color: white;
background-color: #42545C ;
}
