
.heroes{
    margin:  0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

heroes li {
    display: flex;
}

.heroes button{
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;

}

.heroes button:hover{
   color: #2c3a41;
   background-color: #e6e6e6;
   left:  .1em;

}